html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vh;
}


#map{
  width: 95vw;
  height: 47.25vw;
  background-color: rgb(171, 171, 171);
  border-radius: 20px;
  position: relative;
  
}

#key{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 20vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.263);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.483);
  transition: 300ms ease 150ms;
  opacity: 0;
}

#top_key{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 12vw;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 300ms ease;
  user-select: none;
  z-index: 10;
}

#side_instructions{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 15%;
  right: 5%;
  width: 20vw;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 300ms ease;
  user-select: none;
  z-index: 10;
}

#top_key p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#top_key:hover{
  opacity: 0;
  width: 20vw;
  height: 15vh;

}

#top_key:hover + #key{
  opacity: 1;

}


#submap{
  position: absolute;
  top: 13%;
  width: 95vw;
  height: 47.25vw;
  border-radius: 20px;
  opacity: 1;
  animation: fadeOut 1.5s ease-in-out forwards;
  
}

#description{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 30vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.313);
  border-radius: 20px;
  border-top: solid 2px rgba(255, 255, 255, 0.411);
  border-left: solid 2px rgba(255, 255, 255, 0.797);
  backdrop-filter: blur(4px);
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.483);
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s forwards;
  
}

@keyframes fadeOut {
  from {opacity: 1;}
     to {opacity: 0;}

}

@keyframes fadeIn {
     from {opacity: 0;}
     to {opacity: 1;}
}


#back{
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
  border-top: solid 1px rgba(255, 255, 255, 0.411);
  border-left: solid 2px rgba(255, 255, 255, 0.797);
  border-bottom: none;
  border-right: none;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.483);
  display: flex;
  align-items: center;
  background-color: rgb(223, 223, 223);
  transition: 0.2s ease;
}

#back svg{
  margin-right: 0.5em;
}

#back:hover{
  background-color: rgb(133, 62, 62);
  border-top: solid 1px rgb(133, 62, 62);
  border-left: solid 2px rgb(133, 62, 62);
}